@using DevStudio;
@using DevStudio.Securitys;
@model IEnumerable<goshopping.Models.Carts>

@{
    ViewBag.Title = "CartList";
    string str_image_url = "";
    string str_qty_name = "";
    int index = 0;
}

@{ var total = @Cart.Totals.ToString("#,##0").AsInt() + 160; }

<section class="pt-5 pb-5">
    <div class="container">
        <div class="row w-100">
            <div class="col-lg-12 col-md-12 col-12">
                <h2 class="display-5 mb-2 text-center">購物車明細</h2>
                <p class="mb-5 text-center h4">
                    共 <i class="text-danger font-weight-bold">@Cart.Counts</i> 項商品
                </p>
                <table id="shoppingCart" class="table table-condensed table-responsive">
                    <thead>
                        <tr>
                            <th style="width:75%" class="h4">購物車內容</th>
                            <th style="width:10%" class="text-center">單價</th>
                            <th style="width:15%" class="text-center">數量</th>
                            <th style="width:5%">   </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            index += 1;
                            str_qty_name = "Carts[" + index + "].qty";
                            str_image_url = Shop.GetProductImage(item.product_no);
                            <tr>
                                <td data-th="Product">
                                    <div class="row">
                                        <div class="col-md-3 text-left">
                                            <img src="@str_image_url" alt="@item.product_no" class="img-fluid d-none d-md-block rounded mb-2 shadow ">
                                        </div>
                                        <div class="col-md-9 text-left mt-sm-2">
                                            <h6>@item.product_name</h6>
                                            <p class="font-weight-light">@item.product_spec</p>
                                        </div>
                                    </div>
                                </td>
                                <td data-th="Price" class="text-center"> NT$ @item.price</td>
                                <td data-th="Quantity" style="text-wrap:none">
                                    <div class="text-center h5">
                                        <a class="btn " href="/Product/CartMinus/@item.rowid">
                                            <div class="btn-minus text-secondary" style="float:right"><span class="fa fa-minus"></span></div>
                                        </a>
                                        <span class="bg-white">@item.qty</span>

                                        <a class="btn" href="/Product/CartPlus/@item.rowid">
                                            <div class="btn-plus text-secondary" style="float:left"><span class="fa fa-plus"></span></div>
                                        </a>
                                    </div>
                                </td>
                                <td class="actions text-center" data-th="">
                                    <div>
                                        <a href="/Product/CartDelete/@item.rowid" class="text-danger btn btn-white bg-white btn-md ">
                                            <i class="fas fa-times"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <h5 class="text-right">商品總計 NT$ @Cart.Totals.ToString("#,##0") 元</h5>

                <h5 class="text-right text-danger">運費總計 NT$ 160 元</h5>
                <hr>
                <div class="float-right text-right">
                    <h3>結帳總金額 NT$ @total 元</h3>

                </div>
            </div>
        </div>

        <div class="row mt-4 d-flex align-items-center">
            <div class="col-sm-6 order-md-2 text-right">
                <a href="/Product/Checkout" class="btn btn-success mb-4 btn-lg pl-5 pr-5">結帳</a>
            </div>
            <div class="col-sm-6 mb-3 mb-m-1 order-md-1 text-md-left">
                <a href="/Home/Index">
                    <i class="fas fa-arrow-left mr-2 "></i> 繼續購物
                </a>
            </div>
        </div>
    </div>
</section>
